/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

&cpuapp_rram {
	partitions {
		slot0_partition: partition@0 {
			compatible = "zephyr,mapped-partition";
			label = "image-0";
			reg = <0x0 0x72000>;
		};

		storage_partition: partition@72000 {
			compatible = "zephyr,mapped-partition";
			label = "storage";
			reg = <0x72000 0x2000>;
		};

		zboss_nvram: partition@74000 {
			compatible = "zephyr,mapped-partition";
			label = "zboss-nvram";
			reg = <0x74000 0x8000>;
		};

		zboss_product_config: partition@7c000 {
			compatible = "zephyr,mapped-partition";
			label = "zboss-product-config";
			reg = <0x7c000 0x1000>;
		};
	};
};

