
name: PR closed

on:
  pull_request:
    types: [closed]

permissions:
  contents: read

jobs:
  save_pr_info:
    runs-on: ubuntu-24.04

    steps:
      - name: Save PR info for cleanup
        run: |
          echo "${{ github.event.pull_request.number }}" > pr_number.txt

      - name: Upload PR info artifact
        uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392 # v4
        with:
          name: pr-closed-info
          path: |
            pr_number.txt
          retention-days: 1
